html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

.title {
  text-align: center;
}

.paper {
  margin: 80px;
  padding: 20px;
  margin-top: 30px;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.submit {
  margin-top: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 300%;
}

form {
  width: "100%";
  margin-bottom: 30px;
}

#password {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 87%;
  margin: auto;
}

#accessBtn {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
}

#countdown {
  display: flex;
  justify-content: center;
  font-family: "Mountains of Christmas", cursive;
  color: green;
  font-size: 70px;
}

#leo {
  width: 35%;
  margin-left: 29%;
  border-radius: 13%;
}

#list {
  margin-left: 9.6%;
  font-family: "Mountains of Christmas", cursive;
  font-size: 25px;
}
